{% extends "App_Base/base.html" %}

  {% block content %}
        <p class="text-center py-3 lead">Carga masiva de paquetes a un recorrido por n° de plantilla</p>
    <div class="col-md-6">
           
        <div class="py-4">
                <form action="POST" action="">
                  {% csrf_token %}
                    <div class="mb-4">
                      <label class="form-label"><small>Ingrese número de plantilla</small></label>
                      <select class="form-select" name="plantilla" id="id_plantilla">
                        <option selected>Seleccione N° Plantilla</option>

                        {% for num_plantilla in plantillas %}
                          <option value="{{plantilla.id}}">Plantilla: ( {{num_plantilla.pk}} )</option>
                        {% endfor%}
                        
                      </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label"><small>Seleccione el archivo a importar (.CSV)</small></label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-dark btn-sm">
                        <i class="fa fa-table" aria-hidden="true"></i> Subir Archivo
                    </button>
                  </form>
        </div>
    </div>
  {% endblock %}
        



