{% extends "App_Base/base.html" %}

{% block content %}
    
  <div class="animate__animated animate__fadeIn">
    <div class="container">

        <p class="text-center py-3 lead">Resolución - Documentacion del sistema</p>

        <p>Se crearon los siguiente modelos:</p>
        <ul>
          <li>Paquete</li>
          <li>Motivo de Fallo</li>
          <li>Estado de Tracking</li>
          <li>Clientes</li>
          <li>Plantilla</li>
          <li>Item</li>
        </ul>
        <p>Se modelo el motivo de fallo y estado de tracking, pensando a futuro ampliar estas listas agregando más descripciones,<br>
          y así poder obtener estadistcas de los "motivos de fallo" y otros.
        </p>
        <p>Se personalizo y se le dio funcionalidad al Admin-Django, con filtros, ordenamineto en la vista de listados y campo de busqueda.
        <br>Se modificaron campos para que sean de solo lectura y no puedan ser modificados por el usuario final.</p>
        <hr>
        <p>Desde ya agradezco esta oportunidad. </p>

        <p class="text-center lead">Muchas Gracias</p>
        
    </div>
  </div>

{% endblock %}


